<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="content-type" content="no-cache, must-revalidate"/>
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
    <title>购物车信息</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">

    <style>
        .nx-nav-container ul {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        .nx-nav-container ul li {
            display: inline-block;
            width: 120px;
            text-align: center;
            line-height: 45px;
        }

        .nx-nav-container a {
            color: #FFFFFF;
        }

        .nx-nav-container a:hover {
            color: aquamarine;
            text-decoration: none;
        }

        [v-cloak] {
            display: none;
        }
        td{
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<div id="wrapper" v-cloak>
    <div class="nx-header">
        <div style="display: flex;width: 100%; height: 30px; line-height: 30px; background-color: #eee;">
            <div style="flex: 5; padding: 0 10px; color: orangered">
                欢迎访问 电影订票购票系统
            </div>
            <div v-if="user.name" style="flex: 1">
                欢迎您：{{user.name}}
                <a style="margin-left: 30px; color: blue" href="javascript:void(0)" @click="logout">退出</a>
                <a v-if="isCollect" style="margin-left: 10px" href="collectInfo.html">收藏夹</a>
            </div>
        </div>
    </div>
    <div style="height: 80px; line-height: 80px;">
        <div style="margin-left: 20px; position: relative">
            <img src="img/logo1.png" alt="" style="width: 40px; position: absolute; top: 20px">
            <b style="margin-left:45px;font-size: 25px; text-shadow: 5px 5px 3px #888888;">电影订票购票系统</b>
        </div>
    </div>

    <div class="nx-nav-container" style="height: 45px; background-color: black">
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="advertiserInfo.html" >公告信息</a></li>
			<li><a href="messageInfo.html">交流信息</a></li>

			<li><a href="cartInfo.html">收藏栏信息</a></li>
			<li class="active"><a href="orderInfo.html">订单信息</a></li>
			<li><a href="commentInfo.html">评价信息</a></li>

            <li><a href="javascript:void(0)" @click="personalPage">个人信息</a></li>
            <li v-if="isShow"><a href="/end/page/index.html" target="_blank">进入后台系统</a></li>
            <li><a href="/end/page/login.html" target="_blank">登录</a></li>
            <li><a href="/end/page/register2.html" target="_blank">注册</a></li>
        </ul>
    </div>
    <div class="container"  style="margin-top: 20px">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr style="background-color: #cccccc">
                    <th>商品</th>
                    <th>订单编号</th>
                    <th>金额</th>
                    <th>送货地址</th>
                    <th>收货人</th>
                    <th>联系方式</th>
                    <th>时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in orderData" :key="item.id">
                    <td style="width:230px;">
                        <div v-for="g in item.goodsList" style="margin-bottom: 5px; display: flex;align-items: center">
                            <img style="width: 50%; height: 50%" :src=g.imgSrc>
                            <span style="font-size: 12px; margin-left: 10px">{{g.name}} X {{g.count}}</span>
                        </div>
                    </td>
					<td>{{item.orderId}}</td>
					<td>{{item.totalPrice}}</td>
                    <td>{{item.linkAddress}}</td>
                    <td>{{item.linkMan}}</td>
                    <td>{{item.linkPhone}}</td>
                    <td>{{item.createTime}}</td>
                    <td>
                        <a v-if="item.status == 0">已取消</a>
                        <a v-else-if="item.status == 1">代付款</a>
                        <a v-else-if="item.status == 2">待观看</a>
                        <a v-else>完成</a>
                    </td>
<!--                    <td v-if="obj.sex==1">男-->
<!--                    </td>-->
<!--                    <td v-else>女-->
<!--                    </td>-->

                    <td>
                        <button v-if="item.status === 1 || item.status === 3" class="btn btn-danger btn-xs" @click="del(item)">删除</button>
                        <button v-if="item.status === 1" class="btn btn-warning btn-xs" @click="changeStatus(item.id, 0)">取消</button>
                                                                                                <!--    第二个参数为状态，0表示取消 2 表示待观看，传递给后端修改                    -->
                        <button v-if="item.status === 1" class="btn btn-primary btn-xs" @click="changeStatus(item.id, 2)">付款</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="text-align: center;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" :class="{ disabled: preActive }">
                            <a class="page-link" href="javascript:void(0)"
                               @click="loadOrderInfo(pageInfo.pageNum - 1)">上一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" v-if="pageInfo.pageNum > 1" @click="loadOrderInfo(pageInfo.pageNum - 1)">{{pageInfo.pageNum - 1}}</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" aria-disabled="true" href="javascript:void(0)">{{pageInfo.pageNum}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" v-if="pageInfo.hasNextPage" @click="loadOrderInfo(pageInfo.pageNum + 1)">{{pageInfo.pageNum + 1}}</a>
                        </li>
                        <li class="page-item" :class="{ disabled: nextActive }">
                            <a class="page-link" href="javascript:void(0)" @click="loadOrderInfo(pageInfo.hasNextPage? (pageInfo.pageNum + 1) : pageInfo.pageNum)">下一页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.metisMenu.js"></script>
<script src="js/vue2.6.11/vue.min.js"></script>
<script src="js/vue2.6.11/axios.js"></script>
<script src="js/my.js"></script>

<script>
    new Vue({
        el: '#wrapper',
        data: {
            isCollect: false,
            orderData: [],
            pageInfo: {},
            preActive: true,
            nextActive: true,

            totalCount: 0,
            user: {},
            totalMoney: 0,
            isShow: false
        },

        created: function() {
            this.loadOrderInfo(1);
        },

        methods: {
            loadOrderInfo(pageNum) {
                axios.get('/auth').then(res => {
                    if (res.data.code === 0) {
                        this.user = res.data.data;
                        if (this.user.level === 1) {
                            this.isShow = true;
                        }
                        axios.get("/orderInfo/page/front?userId=" + this.user.id + '&level=' + this.user.level + '&pageNum=' + pageNum).then(res => {
                            if (res.data.code === 0) {
                                let orderData = res.data.data.list;
                                orderData.forEach(item => {
                                    let goodsList = item.goodsList;
                                    goodsList.forEach(g => {
                                        // 获取展示图
                                        g.imgSrc = '/front/img/goods/default.png';
                                        if (g.fileIds) {
                                            let fileIds = JSON.parse(g.fileIds);
                                            if (fileIds.length) {
                                                g.imgSrc = '/files/download/' + fileIds[0];
                                            }
                                        }
                                    });
                                    item.goodsList = goodsList;
                                });
                                this.orderData = orderData;
                                this.pageInfo = res.data.data;
                                this.preActive = !(this.pageInfo.hasPreviousPage);
                                this.nextActive = !(this.pageInfo.hasNextPage);
                            } else {
                                alert(res.data.msg);
                            }
                        });
                    } else {
                        alert('请先登录');
                        location.href = '/end/page/login.html';
                    }
                })
            },
            del(data) {
                if (confirm('确定删除订单吗？')) {
                    axios.delete('/orderInfo/' + data.id).then(res => {
                        if (res.data.code === 0) {
                            alert('删除成功');
                            this.loadOrderInfo(1);
                        }
                    })
                }

            },
            changeStatus(id, status) {
                axios.post('/orderInfo/status/' + id + '/' + status).then(res => {
                    if (res.data.code === 0) {
                        this.loadOrderInfo(1);
                    } else {
                        alert(res.data.msg);
                    }
                })
            },
            logout() {
                axios.get("/logout").then(res => {
                    if(res.data.code === 0) {
                        location.href = '/front/index.html';
                    } else {
                        msg('error', res.data.msg);
                    }
                })
            }
        }
    })
</script>
</body>
</html>
